<div class="container-fluid">
  <div class="row">
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Changer mot de passe" nzClosable='false' nzIconType='false' >
      <form [formGroup]="formateurForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <input [type]="fieldTextType ? 'text' : 'password'" formControlName="ancienpassword" [ngClass]="{ 'is-invalid': submitted && f.ancienpassword.errors }" class="form-control" placeholder="ancien mot de passe">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa"  [ngClass]="{
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }"
              (click)="toggleFieldTextType()"  ></span>
            </div>
          </div>
          <div *ngIf="submitted && f.ancienpassword.errors" class="invalid-feedback">
            <div *ngIf="f.ancienpassword.errors.required">ancien mot de passe est obligatoire</div>
            <div *ngIf="f.ancienpassword.errors.minlength">ancien mot de passe il faut contient 6 characters</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input [type]="newFieldTextType ? 'text' : 'password'" formControlName="newpassword" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" class="form-control" placeholder="nouveau mot de passe">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa"  [ngClass]="{
                'fa-eye-slash': !newFieldTextType,
                'fa-eye': newFieldTextType
              }"
              (click)="newtoggleFieldTextType()"  ></span>
            </div>
          </div>
          <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
            <div *ngIf="f.newpassword.errors.required">nouveau mot de passe est obligatoire</div>
            <div *ngIf="f.newpassword.errors.minlength">nouveau mot de passe il faut contient 6 characters</div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input [type]="confFieldTextType ? 'text' : 'password'" formControlName="confirmnewpassword" [ngClass]="{ 'is-invalid': submitted && f.confirmnewpassword.errors }" class="form-control" placeholder="confirme mot de passe">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa"  [ngClass]="{
                'fa-eye-slash': !confFieldTextType,
                'fa-eye': confFieldTextType
              }"
              (click)="ConfirmToggleFieldTextType()"  ></span>
            </div>
          </div>
          <div *ngIf="submitted && f.confirmnewpassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmnewpassword.errors.required">confirme mot de passe est obligatoire</div>
        </div>
        </div>
      <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Annuler</button>
        <button nz-button nzType="primary" [disabled]="f.confirmnewpassword.value != f.newpassword.value"  (click)="onSubmit()" type="submit"  >Enregistrer</button>
      </div>
    </form>
    </nz-modal>

  </div>

</div>
