<div class="container-fluid">
  <div style="padding-top: 50px !important;" class=" text-right mt-5">
      <button *ngIf="Result?.examinateur === 'oui'" routerLink="/admin/formateur/list-examinateur" class="btn btn-success mr-2">
        <i class="fas fa-arrow-alt-circle-left"></i> Retour
      </button>
      <button *ngIf="Result?.examinateur === 'etait'" routerLink="/admin/formateur/inactive/list-examinateur-inactive" class="btn btn-success mr-2">
        <i class="fas fa-arrow-alt-circle-left"></i> Retour
      </button>
    </div>
    <div class="row mb-2 mt-4">
      <div class="col-12 col-sm-6 col-md-12 col-lg-12 ">
          <div class="card bg-light">
            <div class="card-body pt-3">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead"><b>{{Result?.prenom  }} {{Result?.nom }}</b></h2>
                  <p class="text-muted lead text-sm"><b>Émail: </b>  {{Result?.email }} </p>
                  <p class="text-muted lead text-sm"><b>Téléphone: </b>  {{Result?.tele }} </p>
                  <p *ngIf="allCertif" class="text-muted lead text-sm"><b>Certification: </b></p>
                  <p class=" lead" *ngFor="let item of allCertif" >  {{item?.nom_certif}} <span> <i (click)="downloadCertif(item.nom_certif, item.email)" style="cursor: pointer;"  class="fas fa-download text-success ml-4" ></i> </span> </p>
                  <p *ngIf="allCv" class="text-muted lead text-sm"><b>CV: </b></p>
                  <p class="lead" *ngFor="let itemCV of allCv" >  {{itemCV?.nom_cv}} <span> <i (click)="downloadCv(itemCV.nom_cv, itemCV.email)" style="cursor: pointer;" class="fas fa-download text-success ml-4" ></i> </span></p>
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>
</div>
