 tr th,  tr td {
  font-size: .9rem;
  text-align: center !important;
  }
  .swal2-popup {
    font-size: 1em !important;
  }
  @media(max-width:768px) {
     tr th,  tr td {
      font-size: .8rem;
      }
      .input-hidden{
        display: none;
      }

  }
  .ant-table-thead>tr>th {
text-align: center !important;
  }
