<div class="content-wrapper">

    <section class="content">

      <div class="container-fluid">
        <div style="padding-top: 50px !important;" class=" text-right mt-5">
          <button routerLink="/admin/cours/list-categorie" class="btn btn-success mr-2">
            <i class="fas fa-arrow-alt-circle-left"></i> Retour
          </button>
        </div>
        <div class="row mb-2">
          <div class="col-sm-12 text-center mb-4">
            <h1 class="edit-title" > Modifier une catégorie</h1>
          </div>
            <div class="col-12 col-md-6 mx-auto">
                <form  [formGroup]="CategorieForm" (ngSubmit)="onSubmit()" >
                    <div class="input-group mb-3">
                        <input type="text" formControlName="nom_categorie" [ngClass]="{ 'is-invalid': submitted && f.nom_categorie.errors }" class="form-control" placeholder="Nom de la catégorie">

                        <div *ngIf="submitted && f.nom_categorie.errors" class="invalid-feedback">
                          <div *ngIf="f.nom_categorie.errors.required">Nom de la catégorie est obligatoire</div>

                      </div>
                      </div>
                    <div class="row">

                      <!-- /.col -->
                      <div class="col-12 mb-4 text-center">
                        <button  type="submit"  [nzLoading]="isLoading" nz-button nzType="primary" nzBlock>Enregistrer</button>
                      </div>
                      <!-- /.col -->
                    </div>
                  </form>
            </div>
        </div>
      </div>
  </section>
</div>
