<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content">
    <div class="container-fluid">
<div class="pl-3 pt-3">
  <nz-tabset nzSize="large" nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['session-cours/list-cours-inactive']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Sessions de formations</a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['session-examen/list-examen-inactive']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Session des examens</a>
    </nz-tab>
  </nz-tabset>
</div>

    <router-outlet></router-outlet>
    </div>
    </section>
</div>
