<div class="row">
  <div class="col-12">
    <div class="container">
      <div class="text-right">
        <button routerLink="/admin/planning/add-planning" class="btn btn-info mt-5 mb-4">
          <i class="fas fa-plus"></i> Ajouter une allocation d'instructeur
        </button>
      </div>
      <h4 class="mb-5">Prochaines Allocations</h4>
      <div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-inline mb-2">
              <input
                type="text"
                class="form-control"

                name="term"
                placeholder="Recherche"
                [(ngModel)]="term"
              />
            </div>
          </div>
        </div>
        <div>
          <nz-table *ngIf="tableReady" #nzTable [nzData]="listOfDisplayData |filter:term" [nzScroll]="{ x: '1600px'}" [nzPageSize]="10" [nzNoResult]="'Pas de résultat'" nzTableLayout="fixed">
            <thead>
              <tr>
                <th>Référence</th>
                <th>Version</th>
                <th>Date</th>
                <th>Nom de l'instructeur</th>
                <th>Statut d'instructeur</th>
                <th>Nom du Fournisseur</th>
                <th>Type</th>
                <th>Adresse </th>
                <th>Nbr estimé des participants </th>
                <th>Numéro du contact</th>
                <th>Mail du contact</th>
                <th>Contact </th>
                <th nzWidth="11%" >Actions </th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let data of nzTable.data">
                <td>{{ data.ref_formation  }}</td>
              <td>{{ data.version  }}</td>
              <td>{{ data.date_debut   }} / {{ data.date_fin }}</td>
              <td>{{ data.name  }}</td>
              <td>{{ data.statut_f  | titlecase }}</td>
              <td>{{ data.nom_fournisseur   }}</td>
              <td>{{ data.type | titlecase }}</td>
              <td *ngIf="!data.address_fournisseur"  >{{ data.address_fournisseur    }}</td>

              <td *ngIf="data.address_fournisseur && data.address_fournisseur.length < 12" >{{ data.address_fournisseur     }}</td>
              <td *ngIf="data.address_fournisseur && data.address_fournisseur.length > 12" >{{ (data.address_fournisseur   | slice:0:12) + ' ...' }}</td>

            <td>{{ data.nbr_participant}}</td>
              <td>{{ data.numero_for}}</td>
              <td>{{ data.mail_contact}}</td>
              <td>{{ data.contact_for   }}</td>

                  <td>
                    <button
                [routerLink]="['/admin/planning/show-planning', data.id]"
                  class="btn btn-primary mr-2 btn-sm"
                >
                  <i class="fas fa-info-circle"></i>
                </button>
                  <button
              *ngIf="data.type === 'présentielle'"
                  [routerLink]="['/admin/planning/edit-planning', data.id]"
                    class="btn btn-warning text-white mr-2 btn-sm"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  <button
                  *ngIf="data.type !== 'présentielle'"
                      [routerLink]="['/admin/planning/update-planning', data.id]"

                        class="btn btn-warning text-white mr-2 btn-sm"
                      >
                        <i class="fas fa-edit"></i>
                  </button>
                  <button
                  (click)="deletePlanning(data.id, data.date_fin, data.id_session)" class="btn btn-danger btn-sm">
                    <i class="far fa-trash-alt"></i>
                  </button>
                  </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><input [(ngModel)]="ref" (keyup)="searchRef()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="version" (keyup)="searchVersion()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="dateP" (keyup)="searchDate()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="nameF" (keyup)="searchInstructor()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="state" (keyup)="searchState()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="provider" (keyup)="searchProvider()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="type" (keyup)="searchType()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="place" (keyup)="searchAdresse()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="estimated" (keyup)="searchEstimated()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="phone" (keyup)="searchPhone()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="mail" (keyup)="searchMail()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
                <td><input [(ngModel)]="contact" (keyup)="searchContact()" class=" form-control form-control-sm" nz-input placeholder="Recherche" nzSize="default" /></td>
              </tr>
            </tfoot>
          </nz-table>
          <nz-skeleton [nzActive]="true" [nzLoading]="verifDataReady"></nz-skeleton>
      </div>
      </div>
  </div>
</div>
</div>
