<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content">
<div class="container-fluid">
  <div class="row mb-2 mt-5">
    <div class="col-8 col-sm-6 col-md-6 col-lg-6 mx-auto ">
      <div  class="my-5 text-right">
        <button  nz-button nzType="primary" (click)="showModal()"><span>Changer mot de passe</span></button>
      </div>
      <!--start modal-->
<app-change-password  ></app-change-password>
      <!--end modal-->
        <div class="card bg-light">
          <div class="card-header mt-2 lead text-muted text-center border-bottom-0">
            <img src="assets/img/utilisateur.png"  width="100" alt="">
            <h2 class="lead mt-2" style="font-weight: 300; color: black;" ><b>{{Result?.prenom  }} {{Result?.nom }}</b></h2>
            <h2 class="lead mt-3" style="font-weight: 200;" ><b> {{Result?.fonction}}</b></h2>
          </div>
          <div class="card-body pt-0">
            <div class="row">

              <div class="col-12">
              <hr style="width: 100%;" >
                <p class="text-muted lead text-sm">  {{Result?.email }} </p>
                <hr style="width: 100%;" >
                <p class="text-muted lead text-sm">  {{Result?.tele }} </p>
                <hr style="width: 100%;" >
              </div>

            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  </section>
</div>
